<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49862532984-q7b068pjf7buua43q92km8odkb0unhj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49862532984-q7b068pjf7buua43q92km8odkb0unhj4</string>
	<key>API_KEY</key>
	<string>AIzaSyDMNZ1FXNCeo7qsO1yx3iDXnSn0CWk_0y8</string>
	<key>GCM_SENDER_ID</key>
	<string>49862532984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>smart-parking-0</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-parking-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49862532984:ios:2225c67b44e8e7f395328d</string>
</dict>
</plist>